<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">ISYRO</span>
        <span>Guillaume Lebrat &amp; Benoit Kugler - 2022</span>
      </div>
      <div class="footer-container2">
        <div class="footer-container3">
          <span class="footer-text2">Liens</span>
          <a href="vie-prive.html" class="footer-navlink large">
            CGU et vie privée
          </a>
          <a
            href="https://github.com/benoitkugler/maths-online"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link large"
          >
            Github
          </a>
        </div>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
